
body{

    margin: 0;

    h1{
    margin: 0;
    font-family: 'Shrikhand', sans-serif;
    font-weight: normal;
    }

    p{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    }
}

header{

    h1{
        font-size: 40px;
        margin: 25px 0 0 75px;
    }
}

form{
    padding: 20px 0 20px 50px;
    outline: none;
    background: rgb(243, 243, 243);

    input{
        margin-left: 50px;
        font-size: 20px;
        border: none;
        background: rgb(243, 243, 243);}


}