
    /*color*/

$dark_background_color : #353535;
$background_color : #EAEAEA ;
$light_background_color : #F6F6F6 ;
$primary_color : #9356DC ;
$secondary_color : #FF79DA ;
$tertiary_color : #99E2D0;

    /*Font*/

$Shrikhand : 'Shrikhand', sans-serif;
$Roboto : 'Roboto', sans-serif;

.main{
    overflow: auto;
    animation: emerge_main 0ms 5000ms both;
    width: 100%;
}

body{

    height: 100%;
    justify-content: center;
    display:flex;
    align-items: center;
    flex-direction: column;
    margin: 0;

    h1{
        font-size: 35px;
        margin:0;
        font-family: $Shrikhand;
        font-weight: normal;
    }

    h2{
        width: 50px;
        margin:0;
        margin-bottom: 10px;
        border-bottom: $tertiary_color solid 4px;
        font-size: 20px;
        font-weight: normal;
        font-family: $Roboto;
    }

    h3{
        font-size: 20px;
        margin: 0;
        font-family: $Roboto;
        font-weight: bolder;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space:nowrap;
    }

    h4{
        font-size: 17px;
        margin: 0;
        font-family: $Roboto;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space:nowrap;
    }

    p{
        margin: 0;
        font-family: $Roboto;
    }

    input{
        font-family: $Roboto;
        font-weight: 600;
    }

    a{
        color: black;
        text-decoration: none;
    }

    ul{
        list-style-type: none;
        padding: 0;
    }

    .txt-line{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    section {
        margin-bottom: 20px;
    }
}

header{

    background-image: url(/images/logo/ohmyfood@2x.svg) ;
    background-color: $light_background_color;
    background-repeat: no-repeat;
    background-size: 196px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 65px;

    i{
    font-size: 25px;
    margin: 0 20px;
    }

}

.img{
    overflow: clip;
    height: 250px;
    width: 425px;
    border-radius: 2em;
    margin: 30px 0;

    &_a{

        position: relative;
        width: 465px;
        z-index: -1;
        right: 20px;
    }

    &_b{
        position: relative;
        width: 425px;
        z-index: -1;
        bottom: 110px;
    }

    &_c{
        position: relative;
        width: 470px;
        z-index: -1;
        right: 2px;
    }

    &_d{
        position: relative;
        width: 455px;
        z-index: -1;
    }
}

.menu{
    width: 100%;
    background-color: $light_background_color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;

    &_title{
        justify-content: space-around;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 25px 0;

        .heart_block{
            width: 30px;
            height: 30px;
            position: relative;
            right: 10px;
        }

        i{
            position: absolute;
            font-size: 30px;
            margin: 0;
        }

        .like_b{
            color: transparent;
            opacity: 0;
            font-size: 30px;
            transform: scale(0.1);
            transition: all 2500ms;
            z-index: 10;
            &:hover{

                background: linear-gradient(180deg, $secondary_color 10%, $primary_color 80%);
                transform: scale(1);
                background-clip :text;
                -webkit-background-clip: text;
                opacity: 1;
                -webkit-text-fill-color: transparent;

            }

            &:hover + .like_a{
                opacity: 0;
            }

        }
    }

    li{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        width: 375px;
        border-radius: 10px;
        margin-bottom: 20px;

        p{
            margin-left: 10px;
            font-weight: bolder;
        }

        .dishes{
            width: 92%;
            padding: 10px;
            transition: all 150ms;
            }

        .validate{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 10px;
            padding: 0px;
            border-radius: 0px 10px 10px 0px;
            opacity: 0;
            height: auto;
        }

        .check{
            transform: rotate(0);
}

        &.dish:hover{

            .dishes{
                    width: 80%;
                }

            .validate {
                transform-origin: 0px;
                opacity: 1;
                width: 35px;
                background-color: $tertiary_color;
                color: white;
                font-size: 25px;
                padding: 10px;
                }

            .check {
                transform: rotate(1turn);
            }
            }

    }

    .order{
        background: linear-gradient(180deg, $secondary_color 10%, $primary_color 100%);
        border: none;
        border-radius: 30px;
        color: white;
        padding: 20px 50px;
        font-size: 18px;
        font-weight: lighter;
    }
}


footer{
    display: flex;
    flex-direction: column;
    background-color: $dark_background_color;
    width: 100%;
    padding: 25px 0;
    h1{
        margin: 10px 0;
        margin-left: 20px;
        font-size: 20px;
        color: white;
    }

    a{
        color: white;
        font-family: $Roboto;
        margin-left: 20px;
        margin-bottom: 10px;
    }
}

$delay: 100ms, 200ms, 300ms, 400ms, 500ms, 600ms, 700ms, 800ms, 900ms, 1000ms, 1100ms, 1200ms, 1300ms;

@each $var in $delay {
    .fade-#{$var} {
        animation: fade 300ms $var both;
}
}


@keyframes fade {
    from{
        opacity: 0;}
    to{
        opacity: 1
}

}

@media (max-width: 425px){

    header{
        background-color: white;
    }

    .img{
        overflow: initial;
        overflow-x: clip;
        border-radius: 0;
        margin: 0;
}

    .menu {
        border-radius: 40px 40px 0 0;
    }
}

@media (max-width: 375px){

    body{
        h1{
            font-size: 25px;
        }}

    .img{
        width: 375px;
        height: 225px;

        &_a{
            width:420px;
            right:25px;
        }
    }

    .menu{

        &_title{

            .like_a{
                font-size: 25px;
            }

            .like_b{
                font-size: 25px;
            }
        }

        li{
            width: 325px;
        }
    }

}


@media (max-width: 320px){


    .img{
        width: 320px;
        height: 225px;
    }

    .menu{

        li{
            width: 270px;
        }
}

}