/*color*/
/*Font*/
.main {
  overflow: auto;
  -webkit-animation: emerge_main 0ms 5000ms both;
          animation: emerge_main 0ms 5000ms both;
  width: 100%;
}

body {
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

body h1 {
  font-size: 35px;
  margin: 0;
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
}

body h2 {
  width: 50px;
  margin: 0;
  margin-bottom: 10px;
  border-bottom: #99E2D0 solid 4px;
  font-size: 20px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

body h3 {
  font-size: 20px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body h4 {
  font-size: 17px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body p {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body input {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

body a {
  color: black;
  text-decoration: none;
}

body ul {
  list-style-type: none;
  padding: 0;
}

body .txt-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section {
  margin-bottom: 20px;
}

header {
  background-image: url(/LaurentJason_3_29072021/images/logo/ohmyfood@2x.svg);
  background-color: #F6F6F6;
  background-repeat: no-repeat;
  background-size: 196px;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 65px;
}

header i {
  font-size: 25px;
  margin: 0 20px;
}

.img {
  overflow: clip;
  height: 250px;
  width: 425px;
  border-radius: 2em;
  margin: 30px 0;
}

.img_a {
  position: relative;
  width: 465px;
  z-index: -1;
  right: 20px;
}

.img_b {
  position: relative;
  width: 425px;
  z-index: -1;
  bottom: 110px;
}

.img_c {
  position: relative;
  width: 470px;
  z-index: -1;
  right: 2px;
}

.img_d {
  position: relative;
  width: 455px;
  z-index: -1;
}

.menu {
  width: 100%;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
}

.menu_title {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 25px 0;
}

.menu_title .heart_block {
  width: 30px;
  height: 30px;
  position: relative;
  right: 10px;
}

.menu_title i {
  position: absolute;
  font-size: 30px;
  margin: 0;
}

.menu_title .like_b {
  color: transparent;
  opacity: 0;
  font-size: 30px;
  -webkit-transition: all 2500ms;
  transition: all 2500ms;
  z-index: 10;
}

.menu_title .like_b:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #FF79DA), color-stop(80%, #9356DC));
  background: linear-gradient(180deg, #FF79DA 10%, #9356DC 80%);
  -webkit-transform: scale(1);
          transform: scale(1);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  -webkit-text-fill-color: transparent;
}

.menu_title .like_b:hover + .like_a {
  opacity: 0;
}

.menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  width: 375px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.menu li p {
  margin-left: 10px;
  font-weight: bolder;
}

.menu li .dishes {
  width: 92%;
  padding: 10px;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.menu li .validate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10px;
  padding: 0px;
  border-radius: 0px 10px 10px 0px;
  opacity: 0;
  height: auto;
}

.menu li .validate .check {
  font-size: 25px;
  color: white;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.menu li.dish:hover .dishes {
  width: 80%;
}

.menu li.dish:hover .validate {
  -webkit-transform-origin: 0px;
          transform-origin: 0px;
  opacity: 1;
  width: 35px;
  background-color: #99E2D0;
  padding: 10px;
}

.menu li.dish:hover .check {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

.menu .order {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #FF79DA), to(#9356DC));
  background: linear-gradient(180deg, #FF79DA 10%, #9356DC 100%);
  border: none;
  border-radius: 30px;
  color: white;
  padding: 20px 50px;
  font-size: 18px;
  font-weight: lighter;
}

.menu .order:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #FF9DE6), to(#A578DC));
  background: linear-gradient(180deg, #FF9DE6 10%, #A578DC 100%);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #353535;
  width: 100%;
  padding: 25px 0;
}

footer h1 {
  margin: 10px 0;
  margin-left: 20px;
  font-size: 20px;
  color: white;
}

footer a {
  color: white;
  font-family: "Roboto", sans-serif;
  margin-left: 20px;
  margin-bottom: 10px;
}

.fade-100ms {
  -webkit-animation: fade 300ms 100ms both;
          animation: fade 300ms 100ms both;
}

.fade-200ms {
  -webkit-animation: fade 300ms 200ms both;
          animation: fade 300ms 200ms both;
}

.fade-300ms {
  -webkit-animation: fade 300ms 300ms both;
          animation: fade 300ms 300ms both;
}

.fade-400ms {
  -webkit-animation: fade 300ms 400ms both;
          animation: fade 300ms 400ms both;
}

.fade-500ms {
  -webkit-animation: fade 300ms 500ms both;
          animation: fade 300ms 500ms both;
}

.fade-600ms {
  -webkit-animation: fade 300ms 600ms both;
          animation: fade 300ms 600ms both;
}

.fade-700ms {
  -webkit-animation: fade 300ms 700ms both;
          animation: fade 300ms 700ms both;
}

.fade-800ms {
  -webkit-animation: fade 300ms 800ms both;
          animation: fade 300ms 800ms both;
}

.fade-900ms {
  -webkit-animation: fade 300ms 900ms both;
          animation: fade 300ms 900ms both;
}

.fade-1000ms {
  -webkit-animation: fade 300ms 1000ms both;
          animation: fade 300ms 1000ms both;
}

.fade-1100ms {
  -webkit-animation: fade 300ms 1100ms both;
          animation: fade 300ms 1100ms both;
}

.fade-1200ms {
  -webkit-animation: fade 300ms 1200ms both;
          animation: fade 300ms 1200ms both;
}

.fade-1300ms {
  -webkit-animation: fade 300ms 1300ms both;
          animation: fade 300ms 1300ms both;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 425px) {
  header {
    background-color: white;
  }
  .img {
    overflow: initial;
    overflow-x: clip;
    border-radius: 0;
    margin: 0;
  }
  .menu {
    border-radius: 40px 40px 0 0;
  }
}

@media (max-width: 375px) {
  body h1 {
    font-size: 25px;
  }
  .img {
    width: 375px;
    height: 225px;
  }
  .img_a {
    width: 420px;
    right: 25px;
  }
  .menu_title .like_a {
    font-size: 25px;
  }
  .menu_title .like_b {
    font-size: 25px;
  }
  .menu li {
    width: 325px;
  }
}

@media (max-width: 320px) {
  .img {
    width: 320px;
    height: 225px;
  }
  .menu li {
    width: 270px;
  }
}
/*# sourceMappingURL=menu_style.css.map */
